<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/_css/poole.css">
        <link rel="stylesheet" href="/_css//syntax.css">
        <link rel="stylesheet" href="/_css//hyde.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    </head>
    <body>
        {% include sidebar.html %}

        <div class="content container">
            {{ content }}
        </div>
    </body>
</html>